/*  ------------------------------------------
               SLOOK V3 (POWERCORD)
                      v3.0
                - leeprky#2063 -
    ------------------------------------------  */

/* SLOOK Source Code */

/* Other Imports */
/* Visuals */
@import url(https://raw.githack.com/v-briese/Channel-Icons/main/channelicons.theme.css);
@import url(https://raw.githack.com/snappercord/Settings-Icons/main/settingsicons.css);

@import url(https://raw.githack.com/leeprky/MyThemesBasesStuffYeah/lode/alt-color.css);
@import url(https://raw.githack.com/leeprky/FullyThemedDiscord/main/FullyThemedDiscord.theme.css);
@import url(https://ghostmander.github.io/discordfont/DiscordFont.css);

/* Other Imports */
@import url(https://raw.githack.com/DiscordStyles/HorizontalServerList/master/HorizontalServerList.theme.css);
@import url(https://discordstyles.github.io/RadialStatus/base.css);

/* Titlebar */
/* Disable if you cant see them in top right (windows) */


/*  ----------------------------
         GLASSCORD SUPPORT
    ----------------------------  */
    
/*
    @import url(https://raw.githack.com/leeprky/BetterDefaultGlasscord/main/BetterDefaultGlasscord.theme.css); 
*/

/*  ----------------------------
       GLASSCORD SUPPORT END
    ----------------------------  */

/*  ------------------------------------------
         SLOOK Customisable Configuration
                    v3.0
               -leeprky#2063-
    ------------------------------------------  */

/*
USRBG Profile Modals by Tropix126.
=========================================== */

@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

.root-SR8cQa {
  transform: translateZ(0);
}
.header-QKLPzZ .wrapper-3t9DeA::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  pointer-events: none;
  background: var(--user-background) center/cover no-repeat;
  -webkit-mask: linear-gradient(black, transparent 80%);
}

.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs {
  z-index: 1;
  position: relative;
}

.userPopout-3XzG_A {
	transform:translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	opacity: .5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	-webkit-mask-image: linear-gradient(#000, transparent);
}

.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6 {
	z-index: 1;
}

/*
USRBG Popouts by Tropix126.
=========================================== */

:root {
    --rs-small-spacing: 2px;  /* Spacing between avatar and status | MUST end in px */
    --rs-large-spacing: 3px;  /* Spacing between avatar and status for user popouts & modals/profiles | MUST end in px */
    --rs-width: 2px;  /* Width/thickness of status border */
    --rs-avatar-shape: 50%;  /* 50% for round - 0% for square */
    --rs-online-color: #43b581;  /* Colour for online status */
    --rs-idle-color: #faa61a;  /* Colour for idle status */
    --rs-dnd-color: #f04747;  /* Colour for dnd status */
    --rs-offline-color: #636b75;  /* Colour for offline status */
    --rs-streaming-color: #643da7;  /* Colour for streaming status */
    --rs-invisible-color: #747f8d;  /* Colour for invisible status - Note: this will only show for your own invisibility */
    --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
    --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */
  }

  .wordmark-2iDDfm:after{content:var(--watermark-text);font-size:20px;font-weight:700;position:absolute;width:4000px;top:7px;color:var(--background-accent);margin-left:var(--watermark-text-left);font-family:Discord}
  .wordmark-2iDDfm > svg{width:0}
  @keyframes Gradient { 0%{background-position:0 50%} 50%{background-position:100% 50%} 100%{background-position:0 50%} }
  #app-mount .titleBar-AC4pGV .wordmark-2iDDfm svg{width:0}
  #app-mount .titleBar-AC4pGV .wordmark-2iDDfm::after{content:var(--watermark-text);position:absolute; font-family: "Discord" ; background:linear-gradient(var(--watermark-gradient));animation:Gradient 4s ease infinite;-webkit-background-clip:text;-webkit-text-fill-color:transparent;background-clip:text;background-size:200% 200%;font-weight:600;top:var(--watermark-text-top)}


.typeWindows-1za-n7 > .wordmark-2iDDfm:before {
    content: var(--watermark-version);
    color: #fff;
    font-family: "Discord" ;
    font-size: 12px;
    width: 10px;
    height: 10px;
}
#app-mount .titleBar-AC4pGV .wordmark-2iDDfm svg {
    margin-bottom: 15px;
    margin-left: 4px;
}

.withFrame-haYltI {
    height: 18px;
    margin-bottom: 15px;
}
/* SLOOK Dark */
.theme-dark {
        
  /* Lode Specific */
--alt-color: 40, 86, 81; /* RGB */
--alt-color2: #285651; /* HEX */
         

/* Other */
--scrollbars: none; /* none or unset */

/* Watermark */
--watermark-text: "SLOOK";
--watermark-version: "v3.0";
--watermark-text-top: 6px;
--watermark-text-left: -1.6rem;
--watermark-gradient: 200deg, rgb(247, 247, 247), rgb(255, 255, 255) !important;

 /* Header Colours Colors */
--modal-normal-primary-color: var(--background-secondary);
--modal-normal-secondary-color: var(--background-secondary);
--spotify-color: var(--alt-color2);
--playing-color: var(--alt-color2);
--streaming-color: #4d2b86;

 /* Header Colors */
--header-primary: #EAE1DF;
--header-secondary: rgb(159, 161, 163);

 /* Powercord Toast Colors */
--toast-background: var(--background-primary) ;
--toast-header: var(--background-secondary) ;
--toast-content: #252B3B ;
--toast-box-shadow: rgba(24, 21, 21, 0.932) ;
--toast-border: rgba(21, 22, 22, 0);
--toast-gradient: to right, rgb(64, 102, 172), rgb(53, 192, 127);

 /* Text Colours */
 --text-normal: #dcddde !important;
 --text-muted: #72767d !important;
 --text-link: #008C67 !important;
 --channels-default: #8e9297 !important;
 --interactive-normal: #b9bbbe !important;
 --interactive-hover: #dcddde !important;
 --interactive-active: rgb(231, 222, 222) !important;
 --interactive-muted: #313233 !important;

 /* Chat */
--channeltextarea-background: var(--background-primary);
--channeltextarea-background-hover: var(--background-secondary);

 /* Background Colours */
 --background-primary: #24262b;
 --background-primary-alt: #24262b;
 --background-secondary: #1d1f22;
 --background-secondary-alt: #1d1f22;
 --background-tertiary: #2f3236;
 --background-accent: var(--alt-color2);
 --background-floating: #18191c;
 --background-floating: #2b3341;

 /* Hovering Colours */
--background-modifier-hover: rgba(56, 168, 151, 0.459);
--background-modifier-active: rgba(56, 168, 151, 0.521);
--background-modifier-selected: rgba(56, 168, 151, 0.178);
--background-modifier-accent: rgba(56, 168, 151, 0.418);
--background-message-hover: transparent;

 /* Mentioned  Colours */
--background-mentioned: rgba(56, 168, 151, 0.233);
--background-mentioned-hover: rgba(56, 168, 151, 0.322);
--background-mentioned-bar: var(--background-accent);

--background-help-warning: rgba(56, 168, 151, 0.233);
--background-help-info: rgba(244, 8, 0, 0.164);

 /* Scrollbar Colours */
--scrollbar-thin-thumb: rgba(56, 168, 151, 0.397);
--scrollbar-thin-track: transparent;
--scrollbar-auto-thumb: rgba(56, 168, 151, 0.363);
--scrollbar-auto-track: rgba(56, 168, 151, 0.363);
--scrollbar-auto-scrollbar-color-thumb: rgba(56, 168, 151, 0.384);

/* Box Shadow On Floating Elements Colours */
--elevation-stroke: 0 0 0 1px rgba(22, 24, 26, 0.329);
--elevation-low: 0 1px 0 rgba(22, 25, 26, 0.329);
--elevation-medium: 0 4px 4px rgba(22, 25, 26, 0.329);
--elevation-high: 0 8px 16px rgba(22, 25, 26, 0.329);

/* Other */
--radio-group-dot-foreground: var(--alt-color);
}

/* SLOOK Light */

.theme-light {
        
  /* Lode Specific */
  --alt-color: 83, 182, 167; /* RGB */
  --alt-color2: #53b6a7; /* HEX */

  /* Other */
  --scrollbars: none; /* none or unset */

  /* Keeping Consistancy With Discord */ 
  --serverlist-background: #cad7e0;
  --memberlist-background: #cad7e0;
  --win-titlebar: var(--background-tertiary);

    /* Watermark */
  --watermark-text: "LODE";
  --watermark-text-top: 14px;
  --watermark-text-left: 3.4rem;
  --watermark-gradient: 270deg, #79a9d0, #1ddaa1;

 /* Header Colours Colors */
  --modal-normal-primary-color: #c6d4df;
  --modal-normal-secondary-color: #c6d4df;
  --spotify-color: var(--alt-color2);
  --playing-color: var(--alt-color2);
  --streaming-color: #4d2b86;

    /* Header Colors */
  --header-primary: #0f0f0e;
  --header-secondary: rgb(43, 45, 46);

 /* Powercord Toast Colors */
  --toast-background: #e1e3eb;
  --toast-header: #bdc0c7;
  --toast-content: #e1e3eb;
  --toast-box-shadow: rgba(24, 21, 21, 0.932);
  --toast-border: rgba(21, 22, 22, 0);
  --toast-gradient: to right, rgb(64, 102, 172), rgb(53, 192, 127);

 /* Text Colours */
  --text-normal: #111010;
  --text-muted: var(--alt-color2);
  --text-link: var(--alt-color2);
  --channels-default: #242221;
  --interactive-normal: #080808;
  --interactive-hover: #1a1818;
  --interactive-active: rgb(19, 17, 17);
  --interactive-muted: #505355;

 /* Chat */
  --channeltextarea-background: #cbcbda;
  --channeltextarea-background-hover: #f5f6fa;

 /* Background Colours */
  --background-primary: #cad7e0;
  --background-titlebar: #cbd7e0;
  --background-primary-alt: #cbd7e0;
  --background-secondary: #dce5ec;
  --background-secondary-alt: #dce5ec;
  --background-tertiary: #eceff3;
  --background-accent: var(--alt-color2);
  --background-accent-gradient: #0f7464;
  --background-floating: #bbc8d1;

 /* Hovering Colours */
  --background-modifier-hover: rgba(56, 168, 151, 0.411);
  --background-modifier-active: rgba(56, 168, 151, 0.651);
  --background-modifier-selected: rgba(56, 168, 151, 0.37);
  --background-modifier-accent: rgba(56, 168, 151, 0.534);
  --background-message-hover: transparent;

 /* Mentioned  Colours */
  --background-mentioned: rgba(56, 168, 151, 0.308);
  --background-mentioned-hover: rgba(56, 168, 151, 0.425);
  --background-mentioned-bar: var(--background-accent);

  --background-help-warning: rgba(56, 168, 151, 0.233);
  --background-help-info: rgba(244, 8, 0, 0.164);

    /* Scrollbar Colours */
  --scrollbar-thin-thumb: rgba(56, 168, 151, 0.397);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: rgba(56, 168, 151, 0.363);
  --scrollbar-auto-track: rgba(56, 168, 151, 0.363);
  --scrollbar-auto-scrollbar-color-thumb: rgba(56, 168, 151, 0.384);

    /* Box Shadow On Floating Elements Colours */
  --elevation-stroke: 0 0 0 1px rgba(22, 24, 26, 0.329);
  --elevation-low: 0 1px 0 rgba(22, 25, 26, 0.329);
  --elevation-medium: 0 4px 4px rgba(22, 25, 26, 0.329);
  --elevation-high: 0 8px 16px rgba(22, 25, 26, 0.329);

    /* Other */
  --radio-group-dot-foreground: var(--alt-color);
}

/* Lode Extras */
.guilds-1SWlCJ{background-color:var(--serverlist-background)}
.members-1998pB,.members-1998pB>div{background-color:var(--memberlist-background)}
.guilds-1SWlCJ{background-color:var(--serverlist-background-light)}
.members-1998pB,.members-1998pB>div{background-color:var(--memberlist-background-light)}
.powercord-toast .contents{background-color:var(--toast-content)}

/* MemberList Scroller */
.platform-win .scroller-1Bvpku {padding-top: 16px;}

/*  ----------------------------------------------------
                  Optional Features
        Add A "/*" On The Lines Below The Comments
                  To Disable Them
    ----------------------------------------------------  */

/* --- */
/* Optionals End */
/* ----- */

/*  ----------------------------------------------------
         ANYTHING ELSE YOU WANT TO ADD GOES BELOW
               THIS IS FOR DEBUGGING ETC
                    v3.0 (Slook)
    ----------------------------------------------------  */