/*  ------------------------------------------
              SLOOK V3 SOURCE CODE
                      v3.0
                - leeprky#2063 -
    ------------------------------------------  */

/* My Backbone Code */
@import url(https://raw.githack.com/leeprky/FullyThemedDiscord/main/FullyThemedDiscord.theme.css);

/* DiscordTextTopLeftSlook */
.wordmark-2iDDfm svg {
  width: 0px;
}
.theme-light .wordmark-2iDDfm:after {
  font-family: "Discord"; 
  content: var(--watermark-text);
  font-size: 20px;
  text-transform: uppercase;
  background: var(--watermark-gradient-light);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: var(--watermark-text-top);
}
.theme-light .withFrame-haYltI {
  height: 24px;
  margin-top: 4px;
  background-color: #E0DCD8;
}
.theme-dark .wordmark-2iDDfm:after {
  font-family: "Discord"; /* - DISCORD USERNAME FONT */
  content: var(--watermark-text);
  text-transform: uppercase;
  font-size: 23px;
  background: var(--watermark-gradient);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: var(--watermark-text-top);
}
.theme-dark .withFrame-haYltI {
  height: 24px;
  margin-top: 4px;
}

.root-SR8cQa {
  transform: translateZ(0);
}
.header-QKLPzZ .wrapper-3t9DeA::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  pointer-events: none;
  background: var(--user-background) center/cover no-repeat;
  -webkit-mask: linear-gradient(black, transparent 80%);
}

.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs {
  z-index: 1;
  position: relative;
}

.reduce-motion .userPopout-3XzG_A {
	transform:translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 0;
  border-radius: 10px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	opacity: .5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	-webkit-mask-image: linear-gradient(#000, transparent);
}

.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6 {
	z-index: 1;
}

/* Crash Screen */
.title-3trS3_ {
  font-size: 30px;
  line-height: 8px;
  margin-bottom: 24px;
  font-weight: 600;
  color: var(--header-primary);
  font-family: 'Discord'; /* - DISCORD USERNAME FONT */
}
.note-450gs3, .title-3trS3_ {
  font-family: 'Discord'; /* - DISCORD USERNAME FONT */
  font-size: 15px;
}

.theme-light .title-3sZWYQ {
  color:#000;
}
.theme-light .hljs-comment, .hljs-quote {
  color: #100;
}
.toggleExpandSection-3WJYqa {
  color: rgb(20, 20, 20);
}
/* AdditionalTheming For Slook*/
/* People Colum */
.peopleColumn-29fq28 {
  background-color: #1D1F22;
}
.nowPlayingColumn-2sl4cE {
 background-color: #1D1F22;
}
.theme-light .peopleColumn-29fq28 {
 background-color: #DAD6D1
}
.theme-light .nowPlayingColumn-2sl4cE {
background-color: #DAD6D1
}
.theme-light .inset-3sAvek {
 background-color: #cac6bf;
}
.container-1giJp5 {
 border-radius: 10px;
}
.theme-light .colorHeaderPrimary-26Jzh- {
  color: rgb(15, 15, 17);
}
.colorHeaderSecondary-3Sp3Ft {
  color: rgb(41, 42, 44);
}

/* NitroSererBoosts */
.theme-light .tierBody-16Chc9 {
 background-color: #ebe8e2;
}
.theme-light .perk-2WeBWW {
 background-color: #f0ede8;
}

/* NagBar */
.button-2PWmas, .notice-2X5hT5 {
 background-color: #4aa516c0;
}
/* Upload Modal */
.theme-light .uploadModal-2ifh8j {
 background-color: rgba(253, 253, 252, 0.849);
}
.theme-light .uploadModal-2ifh8j .footer-3mqk7D.hasSpoilers-1IRtQC {
 background-color: rgba(245, 243, 239, 0.904);
}
.uploadModal-2ifh8j .inner-3nWsbo .comment-4IWttf {
 margin-left: 2px;
 width: 470px;
}
.uploadModal-2ifh8j .inner-3nWsbo .comment-4IWttf .label-3aiqT2 {
 text-transform: uppercase;
 margin-left: 25px;
}
/* Add Friends To DM */

.theme-light .errorState-KkUH_2 {
 background-color: rgba(240, 235, 229, 0.719);
 border-radius: 0px 0px 18px 18px;
}

/* Embed */
.theme-light .embedWrapper-lXpS3L, .mbedFull-2tM8--, .embed-IeVjo6, .markup-2BOw-j {
  background-color: #c1ccbc63;
}
/* Search Options */
.option-96V44q, .resultsGroup-r_nuzN .searchClearHistory-2cSSMO {
  background-color: #222020;
}
/* Tags  */
.rem-2m9HGf.botTag-2WPJ74 {
  height:1rem;
  padding: 5px;
  margin-top: 6px;
  border-radius: 8px;
}
/* UnreadBar */
.barButtonMain-3K-jeJ, .span-1mKrMp {
  background-color: #4aa516a4;
  border-radius: 0px 0px 0px 12px;
}
.barButtonAlt-mYL1lj {
  background-color: #3d88127a;
  border-radius: 0px 0px 12px 0px;
}

/* 
/* Explore Buttons */
  /* Tiffany blue Discord join/explore buttons */
  .circleIconButton-jET_ig svg path{
    fill: var(--text-link);
  }
  .circleIconButton-jET_ig.selected-ugP_am{
    background-color: var(--text-link);
  }
  .circleIconButton-jET_ig.selected-ugP_am svg path{
    fill: rgb(255, 255, 255); /* EDIT COLOURS HERE */ 
  }
/* Add Friends Area */
.theme-light .noResults-ZTbl5V, .scroller-hUf6zQ, .footer-1eyGBa {
  background-color: #E9E3DC;
  margin: 0;
  box-shadow: none;
}
.theme-light .footerSeparator-M9dQY1 {
  background-color: rgba(212, 200, 200, 0.829);
}

/* Gif Area */
.theme-light .container-3ISnnM {
  background-color: #ece6df;
  margin-top: 10px;
}
.theme-light .header-1TOWci {
  margin-top: 10px;
}

/* FindCommunites */
.theme-light .pageWrapper-1PgVDX {
  background-color: #D7D2CD;
}
.theme-light .card-3DjzTQ {
  background-color: #cac4bd;
}

.list-17lzo8 {
  background-color: #1a1a1bb6;
}
.categoryHeader-O1zU94 {
  background-color: #202122
}
.theme-light .list-17lzo8 {
  background-color: #e4e1dbef;
}
.theme-light .categoryHeader-O1zU94 {
  background-color: #e4e1dbef;
}

.theme-light .autocomplete-1vrmpx {
  background-color: #ebe7e2e1;
  border-radius: 10px;
}
/* NitroScreen */
.theme-light .root-1gCeng {
  background-color: #ebe8e4ef;
}
.theme-light .footer-2gL1pp {
  background-color: #ebe8e4ef;
}

/* SearchDropbox */
.theme-light .container-3ayLPN, .elevationBorderHigh-2WYJ {
  background-color: #ebe8e2ef;
  box-shadow: none;
}

/* EMOJI MATCHING */
.contentTitle-2tG_sM {
  margin-bottom: -10px;
}
.title-3sZWYQ {
  font-size: 18px;
}

/* Chat??? */
.messageContent-2qWWxC {
  background-color: transparent;
}
.fontSize18Padding-2RUesG {
  background-color: transparent;
}
.container-1ov-mD>* {
  background-color: transparent;
}
.placeholder-37qJjk, .slateTextArea-1Mkdgw {
  background-color: transparent;
}
/* Spotify Invite Friends Thing */
.attachButtonPlay-3iJ0mf {
    color: var(--spotify-color)
}

/* Separate the channels list from the chat box. - 755166410824482937 */
.sidebar-2K8pFh, .chat-3bRxxu, .container-3Mxszk, .container-1D34oG, .applicationStore-1pNvnv {
  border-radius: 15px 15px 0 0 !important
}

.chat-3bRxxu, .container-1D34oG, .container-3Mxszk, .applicationStore-1pNvnv {
  position: relative;
  left: 5px;
  padding-right: 5px
}
/* Hide Chat If Not Perm */
.channelTextAreaDisabled-8rmlrp>div {
  display: none;
}
/* ServerBackgrounds */
.animatedContainer-1NSq4T, .bannerImage-3KhIJ6 {
  border-radius: 0px 0px 18px 0px;
  opacity: 0.85;
}
/* Spinning Compass */
@keyframes spindefault {
  from {
     transform:rotate(0deg);
  }
  to {
     transform:rotate(360deg);
  }
}
.circleIcon-LvPL6c:hover{
  animation: spindefault 1s linear infinite;
}
div[data-list-item-id="guildsnav___guild-discover-button"] svg:hover{
   animation: spindefault 1s linear infinite;
}

/* Colourful Permissions */
/* Permissons (Red) */
.deny-3nAuT6 {color: #ff2e2e;}
.deny-3nAuT6:hover {background: #ff2e2e !important; color: white;}
.deny-3nAuT6.selected-2YhbGh {background: #ff582e !important;}
.deny-3nAuT6.selected-2YhbGh:hover {background: #ff2e2e; !important;}
/* Permissons (Yellow) */
.passthrough-1c2ewQ {color: #faeb1ad8;}
.passthrough-1c2ewQ:hover {background: #faeb1ae1 !important; color: white;}
.passthrough-1c2ewQ.selected-2YhbGh {background: #faeb1adc !important;}
.passthrough-1c2ewQ.selected-2YhbGh:hover {background: rgba(255, 177, 61, 0.897); !important;}
/* Permissons (Green) */
.allow-1PzSY3 {color: #0ee986;}
.allow-1PzSY3:hover {background: #0ee986 !important; color: white;}
.allow-1PzSY3.selected-2YhbGh {background: #0ee986 !important;}
.allow-1PzSY3.selected-2YhbGh:hover {background: #0ee986 !important;}

/* EmojiConstistant */
.sprite-2iCowe { 
  background-position: 0px 0px !important;
}
.contentWidth-xLB44s {
  margin-top: 50px;
}
.list-I3aHXn {
  margin-top: 50px;
}
.theme-light .header-2mZ9Ov {
  background-color: #E5DCDA;
}

.theme-light .layers-3iHuyZ>.layer-3QrUeG:nth-child(2), .perksModal-fSYqOq {
  background-color: rgba(238, 228, 228, 0.589)!important;
  backdrop-filter: blur(9px);
}

/* Removes the popups on click */
.container-ZRw2kD {display:none;}    
.popoutContainer-1MXdqN {display:none;}
 /* no cursor change on emoji hover */
.emoji { 
    cursor: default; 
}
.sprite-2iCowe:hover { 
  filter: grayscale(0) !important;
} 

.emojiUploader-1f0pVx,
div[class*="flex-1xMQg5 flex-1O1GKY horizontal-1ae9ci horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG justifyStart-2NDFzi alignStretch-DpGPf3 noWrap-3jynv6 marginBottom4-2qk4Hy"] {
    display: none
}
.emojiRow-zIc7ZX {
    display: inline-flex;
    margin-right: 50px
}
img[src="/assets/9a43e631d506ae4818ecefc825dc02ad.svg"],
img[src="/assets/13c8662cff8e029799a35878b56e23eb.svg"] { 
  filter: invert(1); 
}
/* Removes the tooltip from hovering on Emotes */
.clickCTA-2B6Kbs {display:none;}

/* PowercordToasts */
.powercord-toast {border-radius: 18px; background-color: transparent;}
.powercord-toast .header { background-color: var(--toast-header); border-radius: 12px 12px 0px 0px;}
.powercord-toast .buttons { background-color: var(--background-secondary); border-radius: 0px 0px 10px 10px;}
.lookGhost-2Fn_0-.colorBrand-3pXr91 { color: #F4F7F5; background-color: var(--background-help-info)}
.lookGhost-2Fn_0-.colorBrand-3pXr91:hover { color: #F4F7F5; background-color: var(--background-modifier-hover)}
.lookOutlined-3sRXeN.colorRed-1TFJan {color: #F4F7F5; border-color: #f04747d0; background-color: #f0474738; }
.lookOutlined-3sRXeN.colorRed-1TFJan:hover {color: #F4F7F5; border-color: #eb2e2ed0; background-color: #e93636a8; }
.lookOutlined-3sRXeN.colorGrey-2DXtkV {color: #F4F7F5; border-color: #b6bec9; background-color: #747f8d93; }
.lookOutlined-3sRXeN.colorGrey-2DXtkV:hover {color: #F4F7F5; border-color: #cbd3df; background-color: #99a6b893; }
.powercord-toast .header { font-size: 15px; }
.powercord-toast .contents .inner { background-color: transparent; box-shadow: none; border: 0px; }

/* JumpToPresentPill */
.jumpToPresentBar-G1R9s6 .barButtonMain-3K-jeJ { display: none; }
.jumpToPresentBar-G1R9s6 {
    display: block;
    background-color: transparent;
    right: 1px;
}
.jumpToPresentBar-G1R9s6 .barButtonAlt-mYL1lj {
    float: right;
    bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgba(177, 169, 169, 0.849)
}

.notEnoughMembersError-1KwJkE {
  background-color: rgba(0, 0, 0, 0.397);
}

/* Add transparency & blur to the loading screen */
.container-16j22k {
  background-color: rgba(0,0,0,0.8);
  backdrop-filter: blur(5px);
}

/* SLOOK Images To Customisze */

/* SlookSpotify */
/* DARKMODE IMGUR - https://imgur.com/L0Iih63.jpg
  LIGHTMODE IMGUR - https://imgur.com/GZyPIBZ.jpg
*/
.theme-dark .powercord-spotify {
  background-color: #106e4431;
  background-image: var(--spotify-playing-background); 
  border-radius: 8px 8px 0px 0px;
}
.theme-light .powercord-spotify {
  background-color: #106e4431;
  background-image: var(--spotify-playing-background-light); 
  border-radius: 8px 8px 0px 0px;
}
/* Playing AvatarBackground / Modal By Leeprky#2063 */

/* DARKMODE IMGUR - https://imgur.com/L0Iih63.jpg
  LIGHTMODE IMGUR - https://imgur.com/GZyPIBZ.jpg
*/
.theme-light .headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
  background-image: var(--modal-playing-background-light); 
  border-radius: 12px;
}
.theme-dark .headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
  background-image: var(--modal-playing-background-dark);
  border-radius: 12px;
}
.theme-dark .headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
  background-image: var(--modal-playing-background-dark);
  border-radius: 18px;
}
.theme-light .headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
  background-image: var(--modal-playing-background-light); 
  border-radius: 18px;
}
/*Call Area */
/* DARKMODE IMGUR - https://imgur.com/L0Iih63.jpg
  LIGHTMODE IMGUR - https://imgur.com/GZyPIBZ.jpg
*/
.theme-dark .root-217Brm {
  background-image: var(--call-background-dark); 
  background-size: 1200px;
  border-radius: 12px 0px 0px 12px;
  box-shadow: none;
}
.theme-light .root-217Brm {
  background-image: var(--call-background-light);
  background-size: 1200px;
  border-radius: 12px 0px 0px 12px;
  box-shadow: none;
}

/* SearchBar Anmimation */
.search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb { width: 27px; transition: 0.25s; background-color: transparent;}
.search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb { width: 240px; transition: 0.25s; background-color: var(--background-tertiary);}
.search-2oPWTC:not(.open-6_Y_aH) .iconContainer-O4O2CN { transform: scale(1.2); transition: 0.25s;}
.search-2oPWTC:not(.open-6_Y_aH):hover .iconContainer-O4O2CN { transform: scale(1); transition: 0.25s;}

/* Avatars */

 #app-mount .wrapper-3t9DeA svg:not(:root) {
   overflow: visible;
 }
 #app-mount .wrapper-3t9DeA foreignObject {
   mask: none;
 }
 #app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(1) {
   cy: -8 !important;
   cx: -8.5 !important;
 }
 #app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(2) {
   cy: -8 !important;
   cx: -2.25 !important;
 }
 #app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(3) {
   cy: -8 !important;
   cx: 4 !important;
 }
 #app-mount .wrapper-3t9DeA .mask-1l8v16 > rect[x="22"] {
   x: 0;
   y: 0;
 }
 #app-mount .wrapper-3t9DeA .cursorDefault-dsQJ1n rect {
   x: -49;
   y: -53;
 }
 #app-mount .wrapper-3t9DeA .pointerEvents-2zdfdO[x="14.5"] {
   fill: rgba(0, 0, 0, 0.5) !important;
   width: 30px;
   height: 30px;
   x: 1;
   y: 1;
 }
 #app-mount .wrapper-3t9DeA img {
   border-radius: var(--rs-avatar-shape);
   clip-path: inset(calc(var(--rs-small-spacing) + 1px) calc(var(--rs-small-spacing) + 1px) round var(--rs-avatar-shape));
 }
 #app-mount .wrapper-3t9DeA svg[width="25"][height="15"] > rect {
   rx: calc(var(--rs-avatar-shape) * 2) !important;
   ry: calc(var(--rs-avatar-shape) * 2) !important;
 }
 #app-mount .wrapper-3t9DeA rect {
   x: 0;
   y: 0;
   width: 100%;
   height: 100%;
   mask: none;
   display: block !important;
   rx: var(--rs-avatar-shape) !important;
   ry: var(--rs-avatar-shape) !important;
   fill: transparent !important;
   stroke-width: var(--rs-width);
 }
 #app-mount .wrapper-3t9DeA rect[fill="#43b581"], #app-mount .wrapper-3t9DeA rect[fill="rgba(67, 181, 129, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=online] {
   stroke: var(--rs-online-color);
 }
 #app-mount .wrapper-3t9DeA rect[fill="#faa61a"], #app-mount .wrapper-3t9DeA rect[fill="rgba(250, 166, 26, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=idle] {
   stroke: var(--rs-idle-color);
 }
 #app-mount .wrapper-3t9DeA rect[fill="#f04747"], #app-mount .wrapper-3t9DeA rect[fill="rgba(240, 71, 71, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=dnd] {
   stroke: var(--rs-dnd-color);
 }
 #app-mount .wrapper-3t9DeA rect[fill="#593695"], #app-mount .wrapper-3t9DeA rect[mask*=streaming] {
   stroke: var(--rs-streaming-color);
 }
 #app-mount .wrapper-3t9DeA rect[fill="#747f8d"], #app-mount .wrapper-3t9DeA rect[mask*=offline], #app-mount .wrapper-3t9DeA rect[fill=NaN] {
   stroke: var(--rs-offline-color);
 }
 #app-mount .wrapper-3t9DeA rect[mask*=invisible], #app-mount .wrapper-3t9DeA rect[fill="rgba(116, 127, 141, 1)"] {
   stroke: var(--rs-invisible-color);
 }
 #app-mount .wrapper-3t9DeA rect[x="16"] {
   width: 24px;
   height: 24px;
 }
 #app-mount .wrapper-3t9DeA rect[x="28"] {
   width: 40px;
   height: 40px;
   overflow: visible;
 }
 #app-mount .wrapper-3t9DeA[style*="width: 80px;"] {
   position: relative;
   margin-right: 0 !important;
 }
 #app-mount .wrapper-3t9DeA[style*="width: 80px;"] rect {
   width: 80px;
   height: 80px;
   pointer-events: none;
 }
 #app-mount .wrapper-3t9DeA[style*="width: 80px;"] img {
   clip-path: inset(calc(var(--rs-large-spacing) + 1px) calc(var(--rs-large-spacing) + 1px) round var(--rs-avatar-shape));
 }
 #app-mount .wrapper-3t9DeA[style*="width: 80px;"][style*="width:80px;"]:after {
   left: unset;
   right: -2px;
   top: unset;
   bottom: -2px;
   transform: none;
 }
 #app-mount .wrapper-3t9DeA[style*="width: 32px;"] rect {
   width: 32px;
   height: 32px;
   x: -14.5;
   y: -17;
   position: relative;
   z-index: 0;
 }
 #app-mount .avatarHint-1qgaV3 foreignObject {
   mask: none;
 }
 #app-mount .avatarHint-1qgaV3 .avatarHintInner-Dco91E {
   border-radius: var(--rs-avatar-shape) !important;
   padding-top: 0;
   width: calc(100% - var(--rs-width) * 4);
   height: calc(100% - var(--rs-width) * 4);
   margin-top: calc(var(--rs-width) + 2px);
   margin-left: calc(var(--rs-width) + 2px);
 }
 #app-mount .message-1PNnaP .mask-1l8v16 img {
   clip-path: circle(calc(19px - var(--rs-small-spacing)));
 }
 #app-mount .memberOffline-2lN7gt img {
   clip-path: none !important;
 }
 #app-mount .header-QKLPzZ .wrapper-3t9DeA {
   margin-right: 20px !important;
 }
 #app-mount .offline-3nJYBR img {
   clip-path: none !important;
 }
.webkit-HjD9Er .buttons-3JBrkn {
  margin-right: 10px;
}

.theme-light .withFrame-haYltI {
  height: 24px;
  margin-top: 5px;
  background-color: #BFBBB7;
}
 /* Settings Background */
 .layers-3iHuyZ>.layer-3QrUeG:first-child{
   transform: scale(1) !important;
   opacity: 1 !important;
 }

.theme-light .layers-3iHuyZ>.layer-3QrUeG:nth-child(2),.perksModal-fSYqOq{
  background-color: rgba(238, 228, 228, 0.589)!important;
  backdrop-filter: blur(9px);
}
 .contentRegionScroller-26nc1e,.contentRegion-3nDuYy,.standardSidebarView-3F1I7i,
 .sidebarRegionScroller-3MXcoP{
   background: transparent;
 }
.titleContainer-2CXtJo {
   border-radius: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   top: 5px;
 }
 .header-2mZ9Ov {
   border-radius: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   top: 5px;
 }
 /* Add transparency & blur to the loading screen */
.container-16j22k {
  background-color: rgba(0,0,0,0.8);
  backdrop-filter: blur(5px);
}
 /* BetterStatus By Leeprky#2063 */
.description-2L932D {
  display: none;
}
.menu-3sdvDG {
  border-radius: 25px;
  margin-left: 0px;
  width: 225px;
}
.item-1tOPte {
  margin-left: 2px
}
/* ChannelRoleArea */
.theme-light .container-SDBvD6 {
  background-color: #D8D1CB;
  border-radius: 10px;
}

.scroller-305q3I {
  border-radius: 18px;
}

/* Rounding Stuff CSS*/
/* ContextMenuRounding */
​.item-1tOPte, .menu-3sdvDG.styleFlexible-wGDiIL { border-radius: 20px; }
.submenu-2-ysNh.menu-3sdvDG { border-radius: 21px; }
.item-1tOPte.labelContainer-1BLJti.colorDefault-2K3EoJ.focused-3afm-j { left: -1.5px; }
.colorDefault-2K3EoJ { border-radius: 15px; }
.menu-3sdvDG  {border-radius: 18px;}
.separator-2I32lJ { display: none; }
.userPopout-3XzG_A {
  box-shadow: none;
}
/* ChatBoxSpacing */
.compact-T3H92H.wrapper-2a6GCs, .cozy-3raOZG.wrapper-2a6GCs {
  padding-top: .125rem;
  padding-bottom: 5px;
}
/* Channelist*/
.container-3Mxszk, .applicationStore-1pNvnv {
  border-radius: 0px 18px 0 0 !important
}
.chat-3bRxxu, .container-1D34oG, .container-3Mxszk, .applicationStore-1pNvnv {
  position: relative;
  padding-right: 5px
}
.scroller-2LSbBU {
  bottom: -39em;
}
.scrollerSpacer-avRLaA {
  height: 41em;
}
.scrollerSpacer-avRLaA.empty-6MGttt {
  height: 40em;
}
.scroller-2LSbBU::-webkit-scrollbar-track {
  margin-bottom: calc(39em + 0.5em);
}
.form-2fGMdU::before {
  display: none;

}
/* ServerChat */

.theme-light .container-UC8Ug1 {
  background-color: rgba(228, 224, 217, 0.925);
}
.colorStandard-2KCXvj {
  color: rgb(221, 222, 231)
}
.colorHeaderSecondary-3Sp3Ft {
  color: rgb(221, 222, 231)
}
.colorHeaderPrimary-26Jzh- {
  color: rgb(221, 222, 231)
}
.lookFilled-1Gx00P.colorGrey-2DXtkV {
  color: #fff;
  background-color: #292a2c;
}

/* Chatbox */

.channelTextArea-rNsIhG {
  background-color: transparent;
  right: 15px;
}

.container-2fRDfG::after /* reply divider */ {
  content: "";
  width: calc(100% - 10px); 
  background: var(--bg-divider);
  margin-left: 4px;
  position: absolute;
  height: 1px;
  top: 33px;
}
/* Remove Bot Tags */
.botTagCozy-, .botTag-1un5a6, .botTagRegular-2HEhHi, .botTag-2WPJ74, .rem-2m9HGf {
  display: none;
}

/* -=-=-=-=-=-=-=-=-=-=-= */
/* ThemeTogglerArea */
.theme-light .powercord-product {
  background-color: rgba(240, 237, 231, 0.329);
}


/* FIXES */
/* Connceted Account Fix */
.connectedAccount-36nQx7 {
  display:flex;
  flex-wrap:wrap;
  height:auto;
}
.connectedAccount-36nQx7 .connectedAccountIcon-3P3V6F {
  width:24px;
  height:24px;
}
.userPopout-3XzG_A {
  box-shadow: none;
}
/* TopBar */
[class|=toolbar] a {/*Help Button*/
  display: none;
}

/* Better roles */
.role-2irmRk {
  position: relative;
  overflow: hidden;
  border: none;
  padding: 6px;
}
.theme-dark .roleCircle-3xAZ1j::before {
  content: '';
  position: absolute;
  top: -0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.2;
  pointer-events: none;
}
.theme-light .roleCircle-3xAZ1j::before {
  content: '';
  position: absolute;
  top: -0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.5;
  pointer-events: none;
}

/* Bubble Member List */
:root {
  --hover-animation-speed: 0.35s;
  --seperator-color: var(--background-accent);
}
.members-1998pB {
  transition: transform var(--hover-animation-speed);
}
.membersWrap-2h-GB4 {
 min-width: unset;
 width: 40px;
 justify-content: left;
}
.content-3QAtGj .subText-1KtqkB {
 display: none;
}
.membersWrap-2h-GB4:hover .members-1998pB {
  transform: translateX(-260px);
}
.membersWrap-2h-GB4 .members-1998pB .member-3-YXUe {
  background-color: unset;
  margin-left: 0px;
  transition: margin-left var(--hover-animation-speed);
}
.membersWrap-2h-GB4:hover .members-1998pB .member-3-YXUe {
  margin-left: 15px;
}
.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
  transform: translateX(2px);
}
.membersWrap-2h-GB4 .membersGroup-v9BXpm {
  cursor: default;
  transform: translateX(-10px);
  transition: transform var(--hover-animation-speed);
  overflow: inherit;
}
.members-1998pB {
border-radius: 18px 18px 18px 18px !important;
left: 37px;
margin-top: 100px;
margin-bottom: 15px;
}
::-webkit-scrollbar {
 display: none;
}
.membersWrap-2h-GB4 {
left: 45px;
margin-right: 40px;
bottom: 75px;
background-color: rgba(216, 27, 27, 0);
}
.theme-light .chatContent-a9vAAp {
background-color: transparent;
border-radius: 0 15px 0 0 !important;
margin-left: -0px;
margin-right: 15px;
}

.theme-dark .channelTextArea-rNsIhG, .channelTextArea-2VhZ6z { 
  background-color: var(--channeltextarea-background);
  margin-left: 25px
}

.base-gE7OpD {
  right: -0px;
}
.buttons-3JBrkn {
  position: relative;
  left: -1px
}

/* @ Colour Height */
.compact-T3H92H.wrapper-2a6GCs, .cozy-3raOZG.wrapper-2a6GCs {
  padding-top: .125rem;
  padding-bottom: 10px;
}
/* Timestamp From Pinged Messages */
.timestamp-1E3uAL {
  display: none;
}
.theme-light .mentioned-xhSam7:before {
  background-color: #49A31F;
  width: 3px;
  left: -8px
}

.message-2qnXI6 {
  margin-left: 16px;
}
.message-2qnXI6:hover {
  background-color: var(--background-floating);
  border-radius: 10px
};
.contents-2mQqc9 {
  margin-top: 1px;
}
.message-2qnXI6:not(.groupStart-23k01U) .buttonContainer-DHceWr {
  margin-top: 10px;
}
.mentioned-xhSam7 {
  position: relative;
  background-color: var(--background-mentioned)
}


/* Toolbar Member List Icon */
.toolbar-1t6TWx [aria-label="Member List"] {
  display: none;
}

/* Call Dock By shotguntown#4936 */
.wrapper-3EGhDO {
  background-color: var(--background-secondary);
  border-radius: 18px;
  padding: 0px;
}
.colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
  color: currentColor;
}
.colorable-1bkp8v.primary-3NQg8g,
.colorable-1bkp8v.primary-3NQg8g.active-1QRrIS, .colorable-1bkp8v.primary-3NQg8g:hover, 
.colorable-1bkp8v.white-3GPOIp,
.centerButton-3CaNcJ,
.colorable-1bkp8v.white-3GPOIp.active-1QRrIS, .colorable-1bkp8v.white-3GPOIp:hover,
.colorable-1bkp8v.red-33-Lnk {
  background: none !important;
}

/* Playing AvatarBackground */
.theme-light .userPopout-3XzG_A .header-2BwW8b, .userPopout-3XzG_A .scroller-2FKFPG, .userPopout-3XzG_A .footer-1fjuF6 {
  background-color: #d3d0cd;
}

.theme-light .body-3iLsc4, .theme-light .footer-1fjuF6 {
  background-color: #d1cecb;
  box-shadow: none;
}

.theme-light .headerTop-3C2Zn0 {
  background-color: transparent;
  border-radius: 12px
}
/*Call Area */
.spriteWrapper-3DD_XY {
  position: absolute;
  top: 100px;
  left: 100px;
  bottom: 0;
  right: 0;
  box-shadow: none;
}

.powercord-spotify .avatarWrapper-2yR4wp {
  animation-name: spinny;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spinny {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
.powercord-spotify .spotify-cover {
  border-radius: 20px !important;
}

/* TitleBar */
.app-1q1i1E .base-3dtUhz {
  top: calc(var(--server-container) + 4px) !important;
}
.theme-light .container-1r6BKw.themed-ANHk51 {
  background-color: #DDD8D4;
  border-radius: 18px 0px 0px 0px;
}


/* MemberViewBig */
.theme-light .body-3ND3kc {
  background-color: #ece4e47c;
  border-radius: 15px;
  margin-top: 12px;
}
.topSectionNormal-2-vo2m {
  background-color: #35333331;
  border-radius: 18px;
}
.theme-light .topSectionNormal-2-vo2m {
  background-color: #ece4e47c;
  border-radius: 18px;
}

.theme-light .body-3iLsc4 {
  border-radius: 12px;
  margin-top: 5px;
  height: 200px;
  background-color: rgba(248, 240, 240, 0.76);
  box-shadow: none;
}

.footer-1fjuF6 {
  display: none;
}

/* Chat Message Fixes */
.message-2qnXI6 .contents-2mQqc9 .avatar-1BDn8e {
  top: 6px !important;
}
.hasReply-34In-r .contents-2mQqc9 .avatar-1BDn8e {
  top: 30px !important;
}
.username-1A8OIy, .repliedTextPreview-2NBljf {
  margin-bottom: 2px !important;
}
.cozy-3raOZG .repliedTextPreview-2NBljf .repliedTextContent-1R3vnK {
  margin-left: -67px !important;
}
.repliedMessage-VokQwo:before {
  border-color: rgb(79, 84, 92);
  top: 50%;
  margin-bottom: 0px !important;
}
.repliedMessage-VokQwo .repliedTextPreview-2NBljf .repliedTextContent-1R3vnK {
  line-height: 20px;
  top: 2px;
  right: 4px;
}
.cozy-3raOZG .contents-2mQqc9 .messageContent-2qWWxC {
  margin-left: -70px !important;
  margin-top: 1px;
}
.groupStart-23k01U .contents-2mQqc9 .messageContent-2qWWxC {
  margin-top: -5px !important;
}

/* Pinned Messages & Inbox Fix */
.messagesPopoutWrap-1MQ1bW, .recentMentionsPopout-3rCiI6 {
  max-height: 80vh !important;
}

/* New Messages */
.newMessagesBar-265mhP {
  border-radius: 0 0 10px 10px;
  background-color: unset;
}

/* Base Container */
.children-19S4PO:after {
  display: none;
}

/* Actions Container */
.scroller-3BxosC {
  padding-right: 6px !important;
  padding: 6px;
}

/* Pinned Messages Container */
.messagesPopout-24nkyi {
  padding-right: 8px !important;
  padding-bottom: 2px !important;
}

.messagesPopout-24nkyi .avatar-1BDn8e {
  margin-top: 6px;
}

.messagesPopout-24nkyi .cozy-3raOZG.wrapper-2a6GCs {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 68px;
}

.messagesPopout-24nkyi .messageGroupWrapper-o-Zw7G {
	border-radius: 8px 8px 8px 8px !important;
}

.messagesPopout-24nkyi .messageGroupWrapper-o-Zw7G .messageGroupCozy-2iY6cT {
  margin-left: 0px;
}

.messagesPopoutWrap-1MQ1bW {
	background-color: var(--background-secondary);
}

/* Inbox Container */
.recentMentionsPopout-3rCiI6 .container-3iAQ-0, .recentMentionsPopout-3rCiI6 .scroller-tlc3kG {
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 9px !important;
}

.recentMentionsPopout-3rCiI6 .scroller-2UmRce {
  padding-right: 0px !important;
  padding: 0px;
}

.recentMentionsPopout-3rCiI6 .header-2-Imhb, .recentMentionsPopout-3rCiI6 .channelHeader-3Gd2xq {
	-webkit-box-shadow: var(--elevation-low);
}

.recentMentionsPopout-3rCiI6 .messagesPopout-24nkyi .cozy-3raOZG.wrapper-2a6GCs {
	padding-top: 0px !important;
}

.recentMentionsPopout-3rCiI6 .channel-3pEHab {
  margin-bottom: 26px;
	padding-bottom: 0px !important;
	border-radius: 8px 8px 8px 8px;
}

.recentMentionsPopout-3rCiI6 .channelHeader-3Gd2xq {
  padding-left: 26px !important;
	border-radius: 8px 8px 0px 0px;
	border: 1px solid var(--background-tertiary);
}

.recentMentionsPopout-3rCiI6 .messageContainer-gbhlwo, .recentMentionsPopout-3rCiI6 .messages-3G3erD {
	border: 1px solid var(--background-tertiary);
}

.recentMentionsPopout-3rCiI6 .channelHeader-3Gd2xq .collapseButton-2ZsEjz {
	padding: 10px !important;
}

.recentMentionsPopout-3rCiI6 .channelHeader-3Gd2xq .closeButton-1152MI, .recentMentionsPopout-3rCiI6 .channelHeader-3Gd2xq .markReadButton-qAjML_ {
	margin-right: 12px;
}

.recentMentionsPopout-3rCiI6 .messageContainer-gbhlwo, .recentMentionsPopout-3rCiI6 .messages-3G3erD {
	border-radius: 0px 0px 8px 8px !important;
}

.recentMentionsPopout-3rCiI6 .hasMore-sul95G {
	max-width: 94%;
	margin-left: 15px;
	margin-bottom: 8px;
	border-radius: 8px 8px 8px 8px;
}

.messagesPopoutWrap-1MQ1bW .channelHeader-3Gd2xq {
	top: 8px !important;
}

.recentMentionsPopout-3rCiI6 .messages-3G3erD .divider-39oAwV {
	left: 0px !important;
  margin-left: 14px;
}

/* Sidebar Container */
.scroller-RmtA4e {
  padding-right: 8px !important;
}

.sidebar-2K8pFh {
  padding-right: 12px;
}

.channel-2QD9_O {
  max-width: 236px;
}

.discoverHeader-1TWTqG {
  padding-right: 14px;
}

.categoryItem-3zFJns {
  padding-right: 8px;
}

.container-3w7J-x, .panels-j1Uci_, .bannerImage-3KhIJ6, .privateChannels-1nO12o, .container-2lgZY8 .thin-1ybCId {
  width: 252px;
}

.chat-3bRxxu, .container-1D34oG, .container-3Mxszk, .applicationStore-1pNvnv {
  left: 0px;
  padding-right: 0px;
}

/* Server Container */
.container-1CE3eW .templatesList-2E6rTe {
  padding: 0px;
}

/* Text Channel Container */
.container-3RCQyg {
  margin-left: 32px;
}

/* Container Fix */
.content-1LAB8Z {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

/* Invite Container */
.scroller-2hZ97C {
  padding-top: 14px;
  padding-right: 22px !important;
}

/* Search Container */
.scroller-3GIiMh {
  padding-right: 16px !important;
  width: 418px !important;
}

.searchResult-9tQ1uo .avatar-1BDn8e {
  margin-top: 2px;
}

.searchResultsWrap-3-pOjs {
  margin-left: 20px;
}

.scroller-2LSbBU {
  padding-right: 6px !important;
}

.wrapper-39oAo3 {
  margin-left: 10px;
}

/* Chat Divider Fix */
.hasContent-1cNJDh {
  margin-left: 28px;
}

/* Discover Container */
.scroller-1d5FgU {
  padding-right: 38px !important;
}

.pageWrapper-1PgVDX {
  border-radius: 12px 12px 0 0;
  width: 85% !important;
  left: 5px;
}

/* Profile Container */
.infoScroller-3EYYns {
  padding-right: 20px !important;
}

.listRow-hutiT_ {
  margin-right: 8px;
}

/* Nitro Container */
.scroller-3tPHw0 {
  padding-right: 16px !important;
}

/* Server Settings Container */
.contentContainer-14yMzC {
  top: 50px;
}

.contentContainer-14yMzC .contentWidth-xLB44s {
  margin-top: 0px !important;
}

.sidebar-dLM-kh .list-I3aHXn {
  padding-right: 20px !important;
  padding-left: 20px;
}

.row-3GRgeK {
  width: 209px;
  margin-left: -10px;
}

/* Group Friends Container */
.friendWrapper-2SrUFF {
  margin-right: 12px;
}

.content-3YMskv {
  margin-top: 10px;
}

/* Stages Rework */
.scroller-1SuHJo {
  padding-right: 16px !important;
  padding-top: 40px;
}

.scroller-1SuHJo .container-2t1JyW {
  padding-top: 12px;
  padding-left: 20px;
  border-radius: 8px 8px 8px 8px;
}

.scroller-1SuHJo .content-3YMskv {
  height: 50% !important;
}

.scroller-1SuHJo .rowContainer-2tYerQ {
  margin-bottom: 0px  !important;
  margin-top: 6px;
  height: 55%  !important;
  border-radius: 8px 8px 8px 8px;
}

.scroller-1SuHJo .participants-soO0aD {
  border-radius: 8px 8px 8px 8px;
}

.container-pTf0Ly .sidebarVisible-F3zEoe {
  margin-right: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.container-pTf0Ly .container-1EOCj2 {
  width: 252px !important;
  border-radius: 0px 0px 0px 0px !important;
  background-color: rgb(28, 31, 34) !important;
}

.container-pTf0Ly .container-1EOCj2 .participantMemberContainer-3JuhCc {
  overflow: inherit !important;
}

/* Friends Container */
.container-1D34oG .listItemContents-95HL3L {
  margin-left: 1px;
}

.container-1D34oG .listItemContents-95HL3L .userInfo-2zN2z8 {
  overflow: unset !important;
}

.container-1D34oG .nowPlayingColumn-2sl4cE .nowPlayingScroller-2XrVUt {
  width: 98% !important;
}

.container-1D34oG .nowPlayingColumn-2sl4cE .nowPlayingScroller-2XrVUt .itemCard-v9viV7 {
  border-radius: 12px;
}

/* Notice Bar - Server & Roles Preview */
.container-2lgZY8 .base-3dtUhz .notice-3bPHh- {
  border-radius: 8px !important;
}

/* Pop-up Container Rework */
.layerContainer-yqaFcK .modal-3O0aXp {
  border-radius: 12px;
}

.layerContainer-yqaFcK .header-1TKi98 {
  border-radius: 12px 12px 0 0 !important;
}

.layerContainer-yqaFcK .footer-2gL1pp {
  border-radius: 0 0 12px 12px !important;
}

.layerContainer-yqaFcK .root-1gCeng {
  -webkit-box-shadow: var(--elevation-stroke),var(--elevation-high) !important;
  box-shadow: var(--elevation-stroke),var(--elevation-high)  !important;
  border-radius: 12px;
}


/* Shrink server banners to header instead of disappearing. */
[class*="animatedContainer-"] {
    opacity: 1 !important;
    transition: opacity .5s;
}
[class*="animatedContainer-"] > [class*="bannerImage-"] {
    transition: margin .5s;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] {
    opacity: .35 !important;
    height: 138px;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] [class*="bannerImage-"] {
    margin-top: -12px;
}

/* END OF INDEX.CSS */
